@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a class="btn btn-primary btn-lg" asp-controller="BuyTickets" asp-action="Index">Купить билет</a></p>
    <p><a class="btn btn-secondary btn-lg" asp-controller="MyTickets" asp-action="Index">Мои билеты</a></p>
</div>
